.kopfbereich {
    background-color: rgb(15, 15, 80);
    height: 80px;
    margin-top: 0px;
}
#nasa{
    color: darkturquoise;
    display: inline-block;
}
.kopf-recht a {
    background-color: rgb(5, 9, 31);
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.2rem 1.5rem 0.3rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(114, 184, 224);
    box-shadow: 3px 3px 10px rgb(88, 105, 105);
    transition: all 0.3s ease-out;
    text-shadow: 2px 2px 2px rgba(119, 208, 228, 0.966);
    padding: 1rem;
    display: flex;

    justify-content: space-between;
    align-items: center;
}
.kopf-recht {
    float: right;
    padding-top: 100px;
}

a:hover {
    background-color: red;
    text-shadow: 1px 1px 0 #000;
}

body {
    background-image: url(Spce-Cadex.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.5rem 1rem;
    color: white;

}

#image {
    border: 0.5rem rgb(83, 19, 19) solid;

}
#datum{
  font-size: 1.5rem;
  text-align: right;  
}
#beschreibung{font-family: 'Source Serif 4', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    text-shadow: black 7px 7px 10px;
    color: rgb(177, 215, 252);

}
#copyright{font-family: 'Courgette', cursive;
    font-size: 1.5rem;
    text-shadow: 
    white 2px 2px 4px; 
    color: darkturquoise; 
}
#title{
    font-family: 'Source Serif 4', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    text-shadow: white 2px 2px 4px;
    color: darkturquoise;

}
